*{
    p{
        color: rgb(163, 162, 162);
    }
}
.navbar{
    margin: 20px 150px 10px 50px;
    a {
        color:grey;
        text-transform: uppercase;
        font-size: 12px; 
        
    }

    .btn-danger{
        font-size: 12px;
        background-color: #FA5959;
        border: none;
  
    }
}

    .col-md-6{
        margin-right: 0px;
    }
    .btn-primary{
    background-color: #5265E1;
    border: none;
    }

.container-product{
    margin-top: 80px;
}


